USE [master]
GO
/****** Object:  Database [170222]    Script Date: 7/4/2020 7:26:35 PM ******/
CREATE DATABASE [170222]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'170222', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\170222.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'170222_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\170222_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [170222].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [170222]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/4/2020 7:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationUser]    Script Date: 7/4/2020 7:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[PasswordSalt] [nvarchar](max) NULL,
	[Slika] [varbinary](max) NULL,
	[Ime] [nvarchar](max) NULL,
	[Prezime] [nvarchar](max) NULL,
	[DatumRodjenja] [datetime2](7) NOT NULL,
	[OpcinaId] [int] NOT NULL,
	[JMBG] [nvarchar](max) NULL,
	[Spol] [nvarchar](max) NULL,
	[DatumRegistracije] [datetime2](7) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_ApplicationUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationUserRole]    Script Date: 7/4/2020 7:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationUserRole](
	[ApplicationUserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_ApplicationUserRole] PRIMARY KEY CLUSTERED 
(
	[ApplicationUserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cas]    Script Date: 7/4/2020 7:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KursInstancaId] [int] NOT NULL,
	[DatumVrijemeOdrzavanja] [datetime2](7) NOT NULL,
	[Lokacija] [nvarchar](max) NULL,
	[Opis] [nvarchar](max) NULL,
	[Odrzan] [bit] NOT NULL,
 CONSTRAINT [PK_Cas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clanarina]    Script Date: 7/4/2020 7:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clanarina](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KlijentId] [int] NOT NULL,
	[DatumIsteka] [datetime2](7) NOT NULL,
	[UplataId] [int] NOT NULL,
 CONSTRAINT [PK_Clanarina] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ispit]    Script Date: 7/4/2020 7:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ispit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KursInstancaId] [int] NOT NULL,
	[DatumVrijemeIspita] [datetime2](7) NOT NULL,
	[Lokacija] [nvarchar](max) NULL,
 CONSTRAINT [PK_Ispit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IspitKlijentKursInstanca]    Script Date: 7/4/2020 7:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IspitKlijentKursInstanca](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IspitId] [int] NOT NULL,
	[KlijentKursInstancaId] [int] NOT NULL,
	[Prisustvovao] [bit] NOT NULL,
	[Bodovi] [decimal](18, 2) NULL,
 CONSTRAINT [PK_IspitKlijentKursInstanca] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klijent]    Script Date: 7/4/2020 7:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klijent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationUserId] [int] NOT NULL,
 CONSTRAINT [PK_Klijent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KlijentKursInstanca]    Script Date: 7/4/2020 7:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KlijentKursInstanca](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KlijentId] [int] NOT NULL,
	[KursInstancaId] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[UplataIzvrsena] [bit] NULL,
	[Polozen] [bit] NULL,
	[Rejting] [int] NULL,
 CONSTRAINT [PK_KlijentKursInstanca] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kurs]    Script Date: 7/4/2020 7:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kurs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](max) NULL,
	[SkraceniNaziv] [nvarchar](max) NULL,
	[Opis] [nvarchar](max) NULL,
 CONSTRAINT [PK_Kurs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KursInstanca]    Script Date: 7/4/2020 7:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KursInstanca](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KursId] [int] NOT NULL,
	[PocetakDatum] [datetime2](7) NOT NULL,
	[PrijaveDoDatum] [datetime2](7) NOT NULL,
	[KrajDatum] [datetime2](7) NULL,
	[Kapacitet] [int] NULL,
	[Cijena] [decimal](18, 2) NULL,
	[UposlenikId] [int] NOT NULL,
	[BrojCasova] [int] NOT NULL,
 CONSTRAINT [PK_KursInstanca] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KursTag]    Script Date: 7/4/2020 7:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KursTag](
	[KursId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
 CONSTRAINT [PK_KursTag] PRIMARY KEY CLUSTERED 
(
	[KursId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Opcina]    Script Date: 7/4/2020 7:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opcina](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](max) NULL,
 CONSTRAINT [PK_Opcina] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/4/2020 7:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](max) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 7/4/2020 7:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipUplate]    Script Date: 7/4/2020 7:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipUplate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](max) NULL,
	[Cijena] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TipUplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uplata]    Script Date: 7/4/2020 7:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uplata](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipUplateId] [int] NOT NULL,
	[DatumUplate] [datetime2](7) NOT NULL,
	[Iznos] [decimal](18, 2) NOT NULL,
	[KlijentId] [int] NOT NULL,
	[KursInstancaId] [int] NULL,
 CONSTRAINT [PK_Uplata] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uposlenik]    Script Date: 7/4/2020 7:26:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uposlenik](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationUserId] [int] NOT NULL,
	[DatumZaposlenja] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Uposlenik] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200609122043_initial', N'3.1.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200610183707_cijena za clanarinu', N'3.1.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200702102545_prisustvoModification', N'3.1.4')
GO
SET IDENTITY_INSERT [dbo].[ApplicationUser] ON 

INSERT [dbo].[ApplicationUser] ([Id], [Email], [Username], [PasswordHash], [PasswordSalt], [Slika], [Ime], [Prezime], [DatumRodjenja], [OpcinaId], [JMBG], [Spol], [DatumRegistracije], [Active]) VALUES (3, N'predavac@gmail.com', N'predavac', N'OjYA/KCWGxcVJjJ7D3YKOg==', N'Xtvn8CriVB/yyZ9Dpi2gPQ==', NULL, N'Emma', N'Coleman', CAST(N'1995-03-01T17:55:43.0000000' AS DateTime2), 1, N'1111111111111', N'Z', CAST(N'2020-07-02T17:56:46.5664131' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[ApplicationUser] OFF
GO
INSERT [dbo].[ApplicationUserRole] ([ApplicationUserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[ApplicationUserRole] ([ApplicationUserId], [RoleId]) VALUES (3, 2)
INSERT [dbo].[ApplicationUserRole] ([ApplicationUserId], [RoleId]) VALUES (6, 2)
GO
SET IDENTITY_INSERT [dbo].[Cas] ON 

INSERT [dbo].[Cas] ([Id], [KursInstancaId], [DatumVrijemeOdrzavanja], [Lokacija], [Opis], [Odrzan]) VALUES (1, 2, CAST(N'2020-07-05T09:58:17.0000000' AS DateTime2), N'Online učionica', N'', 1)
INSERT [dbo].[Cas] ([Id], [KursInstancaId], [DatumVrijemeOdrzavanja], [Lokacija], [Opis], [Odrzan]) VALUES (2, 2, CAST(N'2020-07-15T10:27:58.2936194' AS DateTime2), N'Učionica 7', N'', 0)
INSERT [dbo].[Cas] ([Id], [KursInstancaId], [DatumVrijemeOdrzavanja], [Lokacija], [Opis], [Odrzan]) VALUES (3, 2, CAST(N'2020-07-16T10:28:40.3338430' AS DateTime2), N'Učionica 7', N'', 0)
SET IDENTITY_INSERT [dbo].[Cas] OFF
GO
SET IDENTITY_INSERT [dbo].[Clanarina] ON 

INSERT [dbo].[Clanarina] ([Id], [KlijentId], [DatumIsteka], [UplataId]) VALUES (1, 1, CAST(N'2020-08-02T21:59:29.2871550' AS DateTime2), 6)
INSERT [dbo].[Clanarina] ([Id], [KlijentId], [DatumIsteka], [UplataId]) VALUES (2, 2, CAST(N'2020-09-02T22:02:10.1927377' AS DateTime2), 8)
INSERT [dbo].[Clanarina] ([Id], [KlijentId], [DatumIsteka], [UplataId]) VALUES (3, 4, CAST(N'2020-09-03T21:57:48.1463085' AS DateTime2), 9)
SET IDENTITY_INSERT [dbo].[Clanarina] OFF
GO
SET IDENTITY_INSERT [dbo].[Ispit] ON 

INSERT [dbo].[Ispit] ([Id], [KursInstancaId], [DatumVrijemeIspita], [Lokacija]) VALUES (1, 4, CAST(N'2020-07-03T12:10:50.1087685' AS DateTime2), N'Velika sala')
INSERT [dbo].[Ispit] ([Id], [KursInstancaId], [DatumVrijemeIspita], [Lokacija]) VALUES (2, 8, CAST(N'2020-08-07T11:12:10.5782708' AS DateTime2), N'Velika sala')
SET IDENTITY_INSERT [dbo].[Ispit] OFF
GO
SET IDENTITY_INSERT [dbo].[IspitKlijentKursInstanca] ON 

INSERT [dbo].[IspitKlijentKursInstanca] ([Id], [IspitId], [KlijentKursInstancaId], [Prisustvovao], [Bodovi]) VALUES (1, 1, 4, 1, CAST(55.00 AS Decimal(18, 2)))
INSERT [dbo].[IspitKlijentKursInstanca] ([Id], [IspitId], [KlijentKursInstancaId], [Prisustvovao], [Bodovi]) VALUES (2, 1, 5, 1, CAST(65.00 AS Decimal(18, 2)))
INSERT [dbo].[IspitKlijentKursInstanca] ([Id], [IspitId], [KlijentKursInstancaId], [Prisustvovao], [Bodovi]) VALUES (3, 2, 8, 0, NULL)
SET IDENTITY_INSERT [dbo].[IspitKlijentKursInstanca] OFF
GO
SET IDENTITY_INSERT [dbo].[Klijent] ON 

INSERT [dbo].[Klijent] ([Id], [ApplicationUserId]) VALUES (1, 2)
INSERT [dbo].[Klijent] ([Id], [ApplicationUserId]) VALUES (2, 4)
INSERT [dbo].[Klijent] ([Id], [ApplicationUserId]) VALUES (3, 5)
SET IDENTITY_INSERT [dbo].[Klijent] OFF
GO
SET IDENTITY_INSERT [dbo].[KlijentKursInstanca] ON 

INSERT [dbo].[KlijentKursInstanca] ([Id], [KlijentId], [KursInstancaId], [Active], [UplataIzvrsena], [Polozen], [Rejting]) VALUES (1, 1, 3, 0, 1, 1, 3)
INSERT [dbo].[KlijentKursInstanca] ([Id], [KlijentId], [KursInstancaId], [Active], [UplataIzvrsena], [Polozen], [Rejting]) VALUES (2, 2, 3, 0, 1, 1, 4)
INSERT [dbo].[KlijentKursInstanca] ([Id], [KlijentId], [KursInstancaId], [Active], [UplataIzvrsena], [Polozen], [Rejting]) VALUES (3, 1, 2, 1, NULL, 0, 5)
SET IDENTITY_INSERT [dbo].[KlijentKursInstanca] OFF
GO
SET IDENTITY_INSERT [dbo].[Kurs] ON 

INSERT [dbo].[Kurs] ([Id], [Naziv], [SkraceniNaziv], [Opis]) VALUES (1, N'Algebra 1', N'ALG1', N'ALG1')
INSERT [dbo].[Kurs] ([Id], [Naziv], [SkraceniNaziv], [Opis]) VALUES (2, N'Algebra 2', N'ALG2', N'This course is designed to build on algebraic and geometric concepts.  It develops advanced algebra skills such as systems of equations, advanced polynomials, imaginary and complex numbers, quadratics, and concepts and includes the study of trinometric functions.  It also introduces matrices and their properties.  The content of this course are important for students’ success on both the ACT and college mathematics entrance exams.')
INSERT [dbo].[Kurs] ([Id], [Naziv], [SkraceniNaziv], [Opis]) VALUES (3, N'Alritmi i strukture u programiranju', N'ASP', N'Course covers analysis and design of fundamental data structures and engages learners to use data structures as tools to alrithmically design efficient computer programs that will cope with the complexity of actual applications.
The course focuses on basic and essential topics in data structures, including array-based lists, linked lists, skiplists, hash tables, recursion, binary trees, scapeat trees, red–black trees, heaps, sorting alrithms, graphs, and binary trie.')
SET IDENTITY_INSERT [dbo].[Kurs] OFF
GO
SET IDENTITY_INSERT [dbo].[KursInstanca] ON 

INSERT [dbo].[KursInstanca] ([Id], [KursId], [PocetakDatum], [PrijaveDoDatum], [KrajDatum], [Kapacitet], [Cijena], [UposlenikId], [BrojCasova]) VALUES (2, 1, CAST(N'2020-07-04T00:00:00.0000000' AS DateTime2), CAST(N'2020-07-03T00:00:00.0000000' AS DateTime2), NULL, NULL, NULL, 2, 5)
INSERT [dbo].[KursInstanca] ([Id], [KursId], [PocetakDatum], [PrijaveDoDatum], [KrajDatum], [Kapacitet], [Cijena], [UposlenikId], [BrojCasova]) VALUES (3, 3, CAST(N'2020-07-10T18:20:59.0000000' AS DateTime2), CAST(N'2020-07-09T18:20:59.0000000' AS DateTime2), CAST(N'2020-07-03T10:39:06.8288737' AS DateTime2), NULL, CAST(150.00 AS Decimal(18, 2)), 2, 6)
INSERT [dbo].[KursInstanca] ([Id], [KursId], [PocetakDatum], [PrijaveDoDatum], [KrajDatum], [Kapacitet], [Cijena], [UposlenikId], [BrojCasova]) VALUES (4, 4, CAST(N'2020-07-11T00:00:00.0000000' AS DateTime2), CAST(N'2020-07-07T00:00:00.0000000' AS DateTime2), NULL, 10, NULL, 2, 2)
SET IDENTITY_INSERT [dbo].[KursInstanca] OFF
GO
INSERT [dbo].[KursTag] ([KursId], [TagId]) VALUES (3, 2)
INSERT [dbo].[KursTag] ([KursId], [TagId]) VALUES (4, 2)
INSERT [dbo].[KursTag] ([KursId], [TagId]) VALUES (5, 2)
GO
SET IDENTITY_INSERT [dbo].[Opcina] ON 

INSERT [dbo].[Opcina] ([Id], [Naziv]) VALUES (1, N'Berkovići')
INSERT [dbo].[Opcina] ([Id], [Naziv]) VALUES (2, N'Osmaci')
INSERT [dbo].[Opcina] ([Id], [Naziv]) VALUES (3, N'Oštra Luka')
GO
SET IDENTITY_INSERT [dbo].[Opcina] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Naziv]) VALUES (1, N'AdministrativnoOsoblje')
INSERT [dbo].[Role] ([Id], [Naziv]) VALUES (2, N'Predavač')
INSERT [dbo].[Role] ([Id], [Naziv]) VALUES (3, N'Klijent')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Tag] ON 

INSERT [dbo].[Tag] ([Id], [Naziv]) VALUES (1, N'Filozofija')
INSERT [dbo].[Tag] ([Id], [Naziv]) VALUES (2, N'IT')
INSERT [dbo].[Tag] ([Id], [Naziv]) VALUES (3, N'Historija')
SET IDENTITY_INSERT [dbo].[Tag] OFF
GO
SET IDENTITY_INSERT [dbo].[TipUplate] ON 

INSERT [dbo].[TipUplate] ([Id], [Naziv], [Cijena]) VALUES (1, N'Jednokratna uplata za kurs', NULL)
INSERT [dbo].[TipUplate] ([Id], [Naziv], [Cijena]) VALUES (2, N'Članarina', CAST(200.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[TipUplate] OFF
GO
SET IDENTITY_INSERT [dbo].[Uplata] ON 

INSERT [dbo].[Uplata] ([Id], [TipUplateId], [DatumUplate], [Iznos], [KlijentId], [KursInstancaId]) VALUES (5, 1, CAST(N'2020-07-02T21:22:44.3176967' AS DateTime2), CAST(150.00 AS Decimal(18, 2)), 1, 3)
INSERT [dbo].[Uplata] ([Id], [TipUplateId], [DatumUplate], [Iznos], [KlijentId], [KursInstancaId]) VALUES (6, 2, CAST(N'2020-07-02T21:59:29.2340772' AS DateTime2), CAST(250.00 AS Decimal(18, 2)), 1, NULL)
INSERT [dbo].[Uplata] ([Id], [TipUplateId], [DatumUplate], [Iznos], [KlijentId], [KursInstancaId]) VALUES (7, 1, CAST(N'2020-07-02T22:01:01.3690620' AS DateTime2), CAST(150.00 AS Decimal(18, 2)), 2, 3)
SET IDENTITY_INSERT [dbo].[Uplata] OFF
GO
SET IDENTITY_INSERT [dbo].[Uposlenik] ON 

INSERT [dbo].[Uposlenik] ([Id], [ApplicationUserId], [DatumZaposlenja]) VALUES (1, 1, CAST(N'2020-06-10T23:04:30.7563075' AS DateTime2))
INSERT [dbo].[Uposlenik] ([Id], [ApplicationUserId], [DatumZaposlenja]) VALUES (2, 3, CAST(N'2020-07-02T17:55:43.2895713' AS DateTime2))
INSERT [dbo].[Uposlenik] ([Id], [ApplicationUserId], [DatumZaposlenja]) VALUES (3, 6, CAST(N'2020-07-03T21:28:37.8909481' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Uposlenik] OFF
GO
/****** Object:  Index [IX_ApplicationUser_OpcinaId]    Script Date: 7/4/2020 7:26:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationUser_OpcinaId] ON [dbo].[ApplicationUser]
(
	[OpcinaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApplicationUserRole_RoleId]    Script Date: 7/4/2020 7:26:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationUserRole_RoleId] ON [dbo].[ApplicationUserRole]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cas_KursInstancaId]    Script Date: 7/4/2020 7:26:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_Cas_KursInstancaId] ON [dbo].[Cas]
(
	[KursInstancaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Clanarina_KlijentId]    Script Date: 7/4/2020 7:26:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_Clanarina_KlijentId] ON [dbo].[Clanarina]
(
	[KlijentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Clanarina_UplataId]    Script Date: 7/4/2020 7:26:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_Clanarina_UplataId] ON [dbo].[Clanarina]
(
	[UplataId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Ispit_KursInstancaId]    Script Date: 7/4/2020 7:26:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_Ispit_KursInstancaId] ON [dbo].[Ispit]
(
	[KursInstancaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IspitKlijentKursInstanca_IspitId]    Script Date: 7/4/2020 7:26:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_IspitKlijentKursInstanca_IspitId] ON [dbo].[IspitKlijentKursInstanca]
(
	[IspitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IspitKlijentKursInstanca_KlijentKursInstancaId]    Script Date: 7/4/2020 7:26:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_IspitKlijentKursInstanca_KlijentKursInstancaId] ON [dbo].[IspitKlijentKursInstanca]
(
	[KlijentKursInstancaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Klijent_ApplicationUserId]    Script Date: 7/4/2020 7:26:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_Klijent_ApplicationUserId] ON [dbo].[Klijent]
(
	[ApplicationUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_KlijentKursInstanca_KlijentId]    Script Date: 7/4/2020 7:26:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_KlijentKursInstanca_KlijentId] ON [dbo].[KlijentKursInstanca]
(
	[KlijentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_KlijentKursInstanca_KursInstancaId]    Script Date: 7/4/2020 7:26:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_KlijentKursInstanca_KursInstancaId] ON [dbo].[KlijentKursInstanca]
(
	[KursInstancaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_KursInstanca_KursId]    Script Date: 7/4/2020 7:26:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_KursInstanca_KursId] ON [dbo].[KursInstanca]
(
	[KursId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_KursInstanca_UposlenikId]    Script Date: 7/4/2020 7:26:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_KursInstanca_UposlenikId] ON [dbo].[KursInstanca]
(
	[UposlenikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_KursTag_TagId]    Script Date: 7/4/2020 7:26:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_KursTag_TagId] ON [dbo].[KursTag]
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Uplata_KlijentId]    Script Date: 7/4/2020 7:26:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_Uplata_KlijentId] ON [dbo].[Uplata]
(
	[KlijentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Uplata_KursInstancaId]    Script Date: 7/4/2020 7:26:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_Uplata_KursInstancaId] ON [dbo].[Uplata]
(
	[KursInstancaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Uplata_TipUplateId]    Script Date: 7/4/2020 7:26:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_Uplata_TipUplateId] ON [dbo].[Uplata]
(
	[TipUplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Uposlenik_ApplicationUserId]    Script Date: 7/4/2020 7:26:36 PM ******/
CREATE NONCLUSTERED INDEX [IX_Uposlenik_ApplicationUserId] ON [dbo].[Uposlenik]
(
	[ApplicationUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IspitKlijentKursInstanca] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Prisustvovao]
GO
ALTER TABLE [dbo].[ApplicationUser]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationUser_Opcina_OpcinaId] FOREIGN KEY([OpcinaId])
REFERENCES [dbo].[Opcina] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationUser] CHECK CONSTRAINT [FK_ApplicationUser_Opcina_OpcinaId]
GO
ALTER TABLE [dbo].[ApplicationUserRole]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationUserRole_ApplicationUser_ApplicationUserId] FOREIGN KEY([ApplicationUserId])
REFERENCES [dbo].[ApplicationUser] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationUserRole] CHECK CONSTRAINT [FK_ApplicationUserRole_ApplicationUser_ApplicationUserId]
GO
ALTER TABLE [dbo].[ApplicationUserRole]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationUserRole_Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationUserRole] CHECK CONSTRAINT [FK_ApplicationUserRole_Role_RoleId]
GO
ALTER TABLE [dbo].[Cas]  WITH CHECK ADD  CONSTRAINT [FK_Cas_KursInstanca_KursInstancaId] FOREIGN KEY([KursInstancaId])
REFERENCES [dbo].[KursInstanca] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cas] CHECK CONSTRAINT [FK_Cas_KursInstanca_KursInstancaId]
GO
ALTER TABLE [dbo].[Clanarina]  WITH CHECK ADD  CONSTRAINT [FK_Clanarina_Klijent_KlijentId] FOREIGN KEY([KlijentId])
REFERENCES [dbo].[Klijent] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Clanarina] CHECK CONSTRAINT [FK_Clanarina_Klijent_KlijentId]
GO
ALTER TABLE [dbo].[Clanarina]  WITH CHECK ADD  CONSTRAINT [FK_Clanarina_Uplata_UplataId] FOREIGN KEY([UplataId])
REFERENCES [dbo].[Uplata] ([Id])
GO
ALTER TABLE [dbo].[Clanarina] CHECK CONSTRAINT [FK_Clanarina_Uplata_UplataId]
GO
ALTER TABLE [dbo].[Ispit]  WITH CHECK ADD  CONSTRAINT [FK_Ispit_KursInstanca_KursInstancaId] FOREIGN KEY([KursInstancaId])
REFERENCES [dbo].[KursInstanca] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ispit] CHECK CONSTRAINT [FK_Ispit_KursInstanca_KursInstancaId]
GO
ALTER TABLE [dbo].[IspitKlijentKursInstanca]  WITH CHECK ADD  CONSTRAINT [FK_IspitKlijentKursInstanca_Ispit_IspitId] FOREIGN KEY([IspitId])
REFERENCES [dbo].[Ispit] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IspitKlijentKursInstanca] CHECK CONSTRAINT [FK_IspitKlijentKursInstanca_Ispit_IspitId]
GO
ALTER TABLE [dbo].[IspitKlijentKursInstanca]  WITH CHECK ADD  CONSTRAINT [FK_IspitKlijentKursInstanca_KlijentKursInstanca_KlijentKursInstancaId] FOREIGN KEY([KlijentKursInstancaId])
REFERENCES [dbo].[KlijentKursInstanca] ([Id])
GO
ALTER TABLE [dbo].[IspitKlijentKursInstanca] CHECK CONSTRAINT [FK_IspitKlijentKursInstanca_KlijentKursInstanca_KlijentKursInstancaId]
GO
ALTER TABLE [dbo].[Klijent]  WITH CHECK ADD  CONSTRAINT [FK_Klijent_ApplicationUser_ApplicationUserId] FOREIGN KEY([ApplicationUserId])
REFERENCES [dbo].[ApplicationUser] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Klijent] CHECK CONSTRAINT [FK_Klijent_ApplicationUser_ApplicationUserId]
GO
ALTER TABLE [dbo].[KlijentKursInstanca]  WITH CHECK ADD  CONSTRAINT [FK_KlijentKursInstanca_Klijent_KlijentId] FOREIGN KEY([KlijentId])
REFERENCES [dbo].[Klijent] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KlijentKursInstanca] CHECK CONSTRAINT [FK_KlijentKursInstanca_Klijent_KlijentId]
GO
ALTER TABLE [dbo].[KlijentKursInstanca]  WITH CHECK ADD  CONSTRAINT [FK_KlijentKursInstanca_KursInstanca_KursInstancaId] FOREIGN KEY([KursInstancaId])
REFERENCES [dbo].[KursInstanca] ([Id])
GO
ALTER TABLE [dbo].[KlijentKursInstanca] CHECK CONSTRAINT [FK_KlijentKursInstanca_KursInstanca_KursInstancaId]
GO
ALTER TABLE [dbo].[KursInstanca]  WITH CHECK ADD  CONSTRAINT [FK_KursInstanca_Kurs_KursId] FOREIGN KEY([KursId])
REFERENCES [dbo].[Kurs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KursInstanca] CHECK CONSTRAINT [FK_KursInstanca_Kurs_KursId]
GO
ALTER TABLE [dbo].[KursInstanca]  WITH CHECK ADD  CONSTRAINT [FK_KursInstanca_Uposlenik_UposlenikId] FOREIGN KEY([UposlenikId])
REFERENCES [dbo].[Uposlenik] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KursInstanca] CHECK CONSTRAINT [FK_KursInstanca_Uposlenik_UposlenikId]
GO
ALTER TABLE [dbo].[KursTag]  WITH CHECK ADD  CONSTRAINT [FK_KursTag_Kurs_KursId] FOREIGN KEY([KursId])
REFERENCES [dbo].[Kurs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KursTag] CHECK CONSTRAINT [FK_KursTag_Kurs_KursId]
GO
ALTER TABLE [dbo].[KursTag]  WITH CHECK ADD  CONSTRAINT [FK_KursTag_Tag_TagId] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tag] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KursTag] CHECK CONSTRAINT [FK_KursTag_Tag_TagId]
GO
ALTER TABLE [dbo].[Uplata]  WITH CHECK ADD  CONSTRAINT [FK_Uplata_Klijent_KlijentId] FOREIGN KEY([KlijentId])
REFERENCES [dbo].[Klijent] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Uplata] CHECK CONSTRAINT [FK_Uplata_Klijent_KlijentId]
GO
ALTER TABLE [dbo].[Uplata]  WITH CHECK ADD  CONSTRAINT [FK_Uplata_KursInstanca_KursInstancaId] FOREIGN KEY([KursInstancaId])
REFERENCES [dbo].[KursInstanca] ([Id])
GO
ALTER TABLE [dbo].[Uplata] CHECK CONSTRAINT [FK_Uplata_KursInstanca_KursInstancaId]
GO
ALTER TABLE [dbo].[Uplata]  WITH CHECK ADD  CONSTRAINT [FK_Uplata_TipUplate_TipUplateId] FOREIGN KEY([TipUplateId])
REFERENCES [dbo].[TipUplate] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Uplata] CHECK CONSTRAINT [FK_Uplata_TipUplate_TipUplateId]
GO
ALTER TABLE [dbo].[Uposlenik]  WITH CHECK ADD  CONSTRAINT [FK_Uposlenik_ApplicationUser_ApplicationUserId] FOREIGN KEY([ApplicationUserId])
REFERENCES [dbo].[ApplicationUser] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Uposlenik] CHECK CONSTRAINT [FK_Uposlenik_ApplicationUser_ApplicationUserId]
GO
USE [master]
GO
